<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <a id="infolink" href="/resume/resume.pdf">My Resume</a>
        <a id="infolink" href="https://www.linkedin.com/in/md-uw/" >My LinkedIn Page</a>
        <a id="infolink" href="https://github.com/baby1900/">My Github Page</a>
        
        <p>This site was created by Michael Du. It uses data from mapbox.com and weatherstack.com</p>

        <img class="portrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>